<div class="questionTile">
  {{#link-to 'topic' topic.id}}<h3>{{topic.title}}</h3>{{/link-to}}
  <h5>{{topic.details}}</h5>
  {{edit-topic topic=topic edit="edit"}}
  <button {{action 'delete' rental}}>Delete</button>
</div>
