<div class="questionTile">
  {{#link-to 'topic' topic.id}}<div class="topic-title"><h3>{{topic.title}}</h3></div>{{/link-to}}
  <div class="topic-description"><h5>{{topic.details}}</h5></div>
  {{edit-topic topic=topic edit="edit"}}

</div>
