<div class="questionTile">
  {{#link-to 'topic' topic.id}}<h3 class="topic-title">{{topic.title}}</h3>{{/link-to}}
  <p class="topic-description">{{topic.details}}</p>
</div>
{{edit-topic topic=topic edit="edit"}}
