@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
$main-font: 'Josefin Sans', sans-serif;
$main-color: white;
$pink-color: #FF4081;
$green-color: #A7FFEB;

body{
  font-family: $main-font;
}
//application.hbs
.navbar {
    background: 	$green-color;
  .navbar-header{
    height: 80px;
    .navbar-brand {
      color: $pink-color;
        p {
          font-size: 2em;
          margin-top: 10px;
          @media only screen and (max-width: 768px){
            margin-top: 20px;
          }
        }
    }
  }
  @media only screen and (max-width: 768px){
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.navbar-right {
  li {
    font-size: 1.5em;
    a {
      color: $main-color;
      &:before,
      &:after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
      }
      &:before {
        margin-top: 10px;
        margin-right: 10px;
        content: url('images/xs-pink-lips.png');
        -webkit-transform: translate(20px);
        -moz-transform: translate(20px);
        transform: translate(20px);
      }
      &:after {
        margin-left: 10px;
        content: url('images/xs-pink-lips.png');
        -webkit-transform: translate(-20px);
        -moz-transform: translate(-20px);
        transform: translate(-20px);
      }
      &:hover:before,
      &:hover:after,
      &:focus:before,
      &:focus:after {
        opacity: 1;
        -webkit-transform: translate(0px);
        -moz-transform: translate(0px);
        transform: translate(0px);
      }
    }
  }
}


//index.hbs
  .jumbotron {
    background-position: center;
    background: cover;
    background-repeat: no-repeat;
    background-color: white;
    &:hover {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
    }
    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
    @media only screen and (max-width: 768px){
    background-image: url('images/sm-glasses-logo.png');
    height: 250px;
    }
    @media only screen and (min-width: 769px){
      background-image: url('images/glasses-logo.png');
      height: 350px;
    }
  }

  .topics {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
      .list-group-item  {
        margin-bottom: 20px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        align-self: center;
        width: 25vw;
        height: 20vh;
        // position: relative;
        @media only screen and (max-width: 600px){
          width: 90vw;
          padding-left: 10px;
          padding-right: 10px;
        }
        @media only screen and (min-width: 601px){
          padding-left: 10px;
          padding-right: 10px;
        }
        @media only screen and (min-width: 700px){
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .questionTile {
        a {
          text-decoration: none;
          color: black;
        }
        .topic-title {
          padding-top: 2%;
          padding-bottom: 2%;
          background: $green-color;
          text-size: 50px;
          text-align: center;
          &:hover {
            transform:scale(1.1);
          }
        }
        .topic-description {
          text-align: center;
        }
      }
      .btn-default {
        float: right;
        margin-top: 2%;
      }
  }

//edit-topic modal

.edit-modal {
  .modal-content {
    padding: 20px;
  }
}
.modal-header {
  h3 {
    color: red;
  }
  p {
    text-transform: uppercase;
  }
  text-align: center;
}


//topic.hbs
.hexagon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .topic-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: lighten(#BDBDBD, 15%);
    width: 90%;
    height: 70%;
    padding: 10%;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    .btn-delete {
      background: #F44336;
      display: none;
    }
    &:hover .btn-delete {
      display: inline;
      transition: opacity 0.5s linear;
    }
  }
  .info {
    @media only screen and (max-width: 500px){
      font-size: 1em;
    }
    @media only screen and (min-width: 501px){
      font-size: 1.5em;
    }
    @media only screen and (min-width: 773px){
      font-size: 2em;
    }
    border-bottom: 3px solid $main-color;
    text-align: center;
  }
  .full-topic {
    @media only screen and (max-width: 500px){
      font-size: 1em;
    }
    @media only screen and (min-width: 501px){
      font-size: 1.5em;
    }
    @media only screen and (min-width: 773px){
      font-size: 2em;
    }
    text-align: center;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

//threads on topic.hbs
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .btn{
    border-left: 2px solid white;
  }
  .btn-add {
    background: $pink-color;
  }
  .btn-edit {
    background: $main-color;
    border: 1px solid black;
  }
  .btn-delete {
    background: #F44336;
  }
}
.btn-fav {
  margin-top: 0;
}
//threads responses
 .bullets {
  list-style-image: url('images/xs-pink-lips.png');
}

    .btn-delete{
      background: #F44336;
    }
//star glyphicon
.glyphicon-star {
  animation: roll 3s infinite;
  transform: rotate(30deg);
  color: $green-color;
  font-size: 40px;
  @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.card-block {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.construction {
  font-size: 20px;
  color: red;
  animation: blinker 2s linear infinite;
  @keyframes blinker {
  50% { opacity: 0.0; }
}

}
