<h2 class="section-title">About Makeup Nerd</h2>
<hr>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <a href="https://github.com/laurenposey" class="thumbnail">
      <img src="assets/images/lauren.jpeg" alt="Lauren Posey">
    </a>
    <h3>Lauren Posey</h3>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="https://github.com/bangnguyen77" class="thumbnail">
      <img src="assets/images/makeup.jpg" alt="Bang Nguyen">
    </a>
    <h3>Bang Nguyen</h3>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="https://github.com/nikigarner" class="thumbnail">
      <img src="assets/images/niki.jpeg" alt="Niki Garner">
    </a>
    <h3>Niki Garner</h3>
  </div>
</div>

<div class="thread-group">
  <div class="hexagon">
    <div class="topic-header">
      <h2 class="full-topic">We are students from Epicodus learning back-end developement (Lauren and Bang) and front-end developement (Niki). Makeup Nerd is a group project using the framework Ember to build the site. The purpose of Makeup Nerd is to create a place where makeup lovers of any kind can come together and talk about makeup and search for tutorials through Youtube. We hope you enjoy visiting our site. If you have any question please {{#link-to 'contact'}}contact us{{/link-to}}</h2>
    </div>
  </div>
</div>
<hr>
