<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <p>Makeup Nerd</p>
        <!-- <img class="sm-logo" alt="Makeup Nerd" src="assets/images/logo.png"> -->
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
      <li>{{#link-to 'favorites'}}Favorites{{/link-to}}</li>
    </ul>
  </div>
</nav>



<div class="container">
  {{outlet}}
</div>

<div class="footer">
  <footer>
    <!-- {{#link-to 'contact'}}Contact me{{/link-to}} -->
  </footer>
</div>
