
<div class="jumbotron">
</div>



<ul class="topics">
  {{#each model.topics as |topic|}}
     <li class="list-group-item topic-card">
       {{topic-tile topic=topic edit="edit"}}
     </li>

  {{/each}}
</ul>

<div class="newTopic">
  {{add-topic saveTopic="saveTopic"}}
</div>

<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
