<h1> Welcome to Makeup Nerd </h1>

<ul>
  {{#each model as |topic|}}
     <li class="list-group-item">
       {{#link-to 'topic' topic.id}}{{topic-tile topic=topic}}{{/link-to}}
     </li>

  {{/each}}
</ul>

<div class="newTopic">
  {{add-topic newTopicSave="saveAtIndex"}}
</div>

<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
