
<div class="jumbotron">
</div>


  <ul class="topics">
    <div class="topic-card">
    {{#each model as |topic|}}
       <li><div class="topic-title"><h3>{{topic.title}}</h3></div>
      <br>
      <div class="topic-description"><p>{{topic.details}}</p></div></li>
    {{/each}}
    </div>
  </ul>


<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
