
<div class="jumbotron">  
</div>

<ul>
  {{#each model as |topic|}}
     <li>{{topic.title}} | {{topic.details}}</li>
  {{/each}}
</ul>

<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
