
<<<<<<< HEAD
<div class="jumbotron">
</div>


  <ul class="topics">
    {{#each model as |topic|}}
       <li class="topic-card"><div class="topic-title"><h3>{{topic.title}}</h3></div>
      <br>
      <div class="topic-description"><h4>{{topic.details}}</h4></div></li>
    {{/each}}
  </ul>

=======
<ul>
  {{#each model.topics as |topic|}}
     <li class="list-group-item">
       {{topic-tile topic=topic edit="edit"}}
     </li>

  {{/each}}
</ul>
>>>>>>> master

<div class="newTopic">
  {{add-topic saveTopic="saveTopic"}}
</div>

<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
