<h2 class="section-title">My Ideas</h2>
<button type="button" class="btn btn-success" {{action 'responseFormShow'}}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Idea</button>
<hr>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="card-block">
      <a href="..." class="thumbnail">
        <img src="assets/images/makeup.jpg" alt="...">
      </a>
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-default">Go somewhere</a>
    </div>
  </div>
</div>
<hr>
