<h2>{{model.heading}} {{model.content}}:</h2>

<h2>Responses</h2>
{{add-response saveResponse="saveResponse" thread=model}}
<ul>
  {{#each model.responses as |response|}}
    {{response-tile response=response destroyResponse="destroyResponse"}}
  {{/each}}
</ul>
