<h2>All information about {{model.title}}</h2>


{{topic-detail topic=model destroyTopic="destroyTopic"}}

<h2>Threads</h2>

<ul>
  {{#each model.threads as |thread|}}
    {{#link-to 'thread' thread.id}}Click here for more information about this thread.{{/link-to}}
    {{thread-tile thread=thread editThread="editThread" destroyThread="destroyThread" addToFav="addToFav"}}
  {{/each}}
</ul>

{{add-thread saveThread="saveThread" topic=model}}
